server {
    listen       ${VOTESAPI_PORT};
    listen  [::]:${VOTESAPI_PORT};
    server_name  localhost;

    location / {
        proxy_ssl_session_reuse off;
        proxy_ssl_server_name on;
        proxy_pass ${VOTESAPI_ADDRESS};
    }
}